
	.cuadro{
		z-index: 2;
		position: absolute;
		bottom: 70%;
		width: 100%;
		background: $white;
		width: 25%;
		margin: auto;
		padding: 5px;
		select{
			width: 95%;
			margin: auto;
			border: 1px solid $color-principal;
		}
	}
	.boton{
		@extend .cuadro;
		padding: 0;
		bottom: 65%;
		#buscar{
			width: 100%;
			background: $color-principal;
			color: $white;
			border: 1px solid $color-principal;
			border-radius: 0;
		}
	}


