*{
	margin: 0;
	padding: 0;
}
$white: #fff;
$color-principal: rgb(234, 186, 26);
/*    mapa    */

#mapa{
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
}
@import '_logo';
@import '_country';
@import '_vehiculos';

/*  media querys   */
$tablet: '(max-width: 780px)';
$celular: '(max-width: 412px)';